@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #4f46e5;
    --title-color: #33347c;
    --white: #FCF7FF;
    --bgIndigo: #6365f152;
}

body {
    font-family: 'Poppins', system-ui, sans-serif;
}

.glass {

    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(157, 157, 157, 0.2);
}

.rbc-date-cell {
    margin-bottom: 5px;
}

.rbc-day-slot .rbc-events-container {
    margin-right: 0 !important;
}

.rbc-today {
    background-color: var(--bgIndigo) !important;
    color: var(--title-color) !important;
}

.rbc-off-range-bg {
    background-color: #2a2b6375 !important;
}

.rbc-toolbar {
    gap: 10px;
}

.rbc-toolbar-label {
    color: var(--main-color);
    font-size: 18px;
}

div .rbc-header {
    color: var(--white);
    font-weight: 400;
    background-color: var(--main-color);
}

.rbc-toolbar button {
    color: var(--title-color) !important;
}

.rbc-toolbar button.rbc-active {
    background-color: var(--bgIndigo) !important;
}

.rbc-toolbar button:hover {
    background-color: var(--bgIndigo) !important;
}

/*MODAL STYLES*/

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

/*DATE PICKER*/

.react-datepicker__day--selected {
    background-color: var(--main-color) !important;
}

.react-datepicker__header {
    background-color: var(--main-color) !important;
}

.react-datepicker__navigation-icon::before {
    border-color: var(--white);
}

.react-datepicker__day-name {
    color: var(--white) !important;
}

.react-datepicker__current-month {
    color: var(--white) !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: var(--main-color) !important;
}

.react-datepicker-time__header {
    color: var(--white) !important;
}