@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', system-ui, sans-serif;
}

.glass {

    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(157, 157, 157, 0.2);
}